//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3
    d-target-selector.pull-right(managed-only)
    | Users in {{ targetType }}

d-spinner(ng-show='state.isPending()')

ul.nav.nav-tabs(ng-init='tab=1', ng-hide='state.isPending()')
    li(role='presentation', ng-class='{active:tab === 1}')
        a(ng-click='changeTab(1)') User list
    li(role='presentation', ng-class='{active:tab === 2}')
        a(ng-click='changeTab(2)')
            span.icon-plus
            | &nbsp;Add user

.tabcontent(ng-hide='state.isPending()')
    manage-users-list(ng-if='tab === 1')
    manage-users-add-user(ng-if='tab === 2')
