//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
.modelcatalog.instances

    div
        label Choose instance:

    a.all.btn-radio(ng-click='changeInstance(null)', ng-class='{ "active": !instance }')
        div.fa.fa-globe
        | all

    a.instance.btn-radio(ng-repeat='i in instances' ng-click='changeInstance(i)', ng-class='{ "active": instance === i }')
        p
            strong {{i.name}}
        p {{i.status}}

    div.instance-credentials(ng-if="instance")
        table.table.table-striped.table-hover.list-group
            thead
                th Instance Name
                th Login
                th Password
                th Instance Url
            tbody
                tr(ng-init="showPass = false")
                    td {{ instance.name }}
                    td {{ instance.login }}
                    td
                        input(type="text", class="form-control",
                        ng-disabled="!showPass", readonly=true, ng-value="showPass ? instance.password : '****************'")
                        button(type="button", class="btn btn-sm", ng-class="!showPass ? 'btn-success' : 'btn-warning'"
                        ng-click="showPass = !showPass") {{ !showPass ? 'Show' : 'Hide' }}
                    td
                        a(href='{{ instance.hostname | ensureProtocol }} ', target="_blank")
                            | {{ instance.hostname }}