//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3
    | Acceptance of Terms

p.ng-scope
    | The web pages available at Trusted Analytics platform, all
    | linked pages and related services whether accessed directly or through third
    | party application software (&ldquo;Site&rdquo;), are owned and operated by Intel Corporation
    | and its affiliated companies (&ldquo;Intel&rdquo;). Your access to the Site is governed by
    | the Terms of Service described below (&ldquo;TOS&rdquo;).
    | Please read the TOS carefully before using the Site. By accessing the Site,
    | viewing any content or using any services available on the Site, you are
    | agreeing to be bound by the TOS. If you disagree with any part of the TOS then
    | you may not access the Site. Intel
    | may change the TOS by posting a new version without notice to you. Use of the
    | Site after such change constitutes acceptance of such changes.

h3.ng-scope
    | Description of Services

p.ng-scope
    | The Site provides &ldquo;Services&rdquo; owned and operated by Intel and its suppliers that
    | may include user registration, participation, personalization, billing,
    | advertising, location (for example, maps, directions, points of interest,
    | traffic information), recommendations, security, public sharing, posting,
    | uploading, linking, downloading, transferring, viewing, submitting or
    | transmitting materials (including, but not limited to graphics, data, art,
    | video, audio, text, opinions, etc.) on this Site. Intel reserves the right to
    | modify or terminate the Services at any time without notice to you. Note that
    | your use of a particular Service may be subject to additional terms as described
    | on the applicable portion of the Site. You acknowledge and agree that Intel is
    | not responsible in any way for content or services that are provided by third
    | parties.

h3.ng-scope
    | Use of Services

p.ng-scope
    | By using the Services, you represent that you are at least 13 years of age, and
    | if you are between the age of 13 and the age of legal majority in your
    | jurisdiction your parent or legal guardian has agreed to be bound by these TOS.
    | In addition, if you are a resident of the Republic of Korea you must be at least
    | 14 years of age to use these Services. You agree to use the Services only as
    | permitted by this Agreement. Intel may establish general practices and limits
    | concerning use of the Site. While Intel will use reasonable efforts to back up
    | site data and make such data available in the event of loss or deletion, Intel
    | has no responsibility or liability for the deletion or failure to store any data
    | on this Site or any Intel Site. Intel reserves the right to mark as &quot;inactive&quot;
    | and archive Accounts that are inactive for an extended period of time. Intel
    | reserves the right to change these general practices at any time, at its sole
    | discretion. Intel does not and cannot control the actions of Site users,
    | visitors or linked third parties. Intel reserves the right to report any
    | malfeasance that comes to our attention to the appropriate authorities.

h3.ng-scope
    | Registration

p.ng-scope
    | In order to access the Services you must register and establish an &ldquo;Account&rdquo;. To
    | register you must: (1) be at least 13 years of age, (2) complete the Account
    | registration form by providing true, accurate, current and complete information
    | and (3) maintain and promptly update such registration data as necessary to keep
    | it true, accurate, current and complete. If, after investigation, Intel has
    | reasonable grounds to suspect that any of your information is untrue,
    | inaccurate, not current or incomplete, Intel may suspend or terminate your
    | Account and prohibit your current or future use of the Site (or any portion
    | thereof).

h3.ng-scope
    | User Account, Password and User Name

p.ng-scope
    | You are solely responsible for maintaining the confidentiality of your password
    | and username as described in the Terms of Use. You acknowledge, consent and
    | agree that Intel may access, preserve and disclose your Account information if
    | required to do so by law or in a good faith belief that such access preservation
    | or disclosure is reasonably necessary to: (1) comply with legal process; (2)
    | enforce the TOS; (3) respond to your requests for customer service; or (4)
    | protect the rights, property or personal safety of Intel, its users and the
    | public.

h3.ng-scope
    | Privacy Policy

p.ng-scope
    | You understand that by using the Service, you consent and agree to the
    | collection and use of certain information about you and your use of the Service
    | in accordance with Intel&rsquo;s Privacy Policy. You further understand and agree that
    | this information may be transferred to the United States and/or other countries
    | for storage, processing and use by Intel and/or with authorized third parties.
    | You agree not to collect or store personal information about other users of the
    | Services in connection with any of the unlawful or prohibited conduct and
    | activities set forth in the Terms of Use. To learn more about Intel&rsquo;s privacy
    | practices, please read the
    = ' '
    a(href='http://www.intel.com/content/www/us/en/privacy/intel-online-privacy-notice.html', target='_blank') Intel Online Privacy Notice

h3.ng-scope
    | Termination

p.ng-scope
    | To delete an account and all of the device data collected in the account, please
    | go to the &ldquo;Account&rdquo; page and click &ldquo;Delete Account&rdquo;.
    | Intel may terminate your Account at its absolute discretion and for any reason,
    | including but not limited to: (1) violation of the TOS; (2) abuse of Site
    | resources or attempt to gain unauthorized entry to the Site or Site resources;
    | (3) use of this or any Intel web site or service in a manner inconsistent with
    | its purpose; (4) unexpected technical or security issues or problems, (5)
    | extended periods of inactivity, or (6) as required by law, regulation, court or
    | governing agency order. Intel&rsquo;s termination of your access may be effected
    | without notice. Upon such termination, Intel may immediately deactivate or
    | delete your Account and/or bar any further access. Intel shall not be liable to
    | any user or other third party for any account or access termination.

h3.ng-scope
    | Additional Indemnification and Limitations of Liability

p.ng-scope
    | The Site and Services described herein shall be deemed &ldquo;Web Sites&rdquo; and/or
    | &ldquo;Materials&rdquo; as described in the Terms of Use. Your obligation to indemnify
    | Intel, its affiliates and their respective officers, employees and agents as
    | described in the Terms of Use shall extend to claims, demands, damages, costs,
    | and liabilities including reasonable attorneys&apos; fees, made by any third party
    | due to your violation of these TOS. IN ADDITION TO THE EXCLUSIONS OF WARRANTY
    | AND LIMITATION OF LIABILITY SET FORTH IN THE TERMS OF USE: (1) INTEL ASSUMES NO
    | RESPONSIBILITY FOR (A) THE TIMELINESS, DELETION, MIS-DELIVERY OR FAILURE TO
    | STORE ANY USER COMMUNICATIONS OR PERSONALIZATION SETTINGS, (B) ANY UNAUTHORIZED
    | ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, (C) STATEMENTS OR CONDUCT
    | OF ANY THIRD PARTY ON THE SITE, OR (D) ANY OTHER MATTER RELATING TO THE SITE;
    | (2) INTEL MAKES NO WARRANTY THAT (A) ANY USER ACCESS WILL BE UNINTERRUPTED,
    | TIMELY, SECURE OR ERROR-FREE AND (B) THAT ANY CONTENT UPLOADED TO THE SITE IS
    | PROTECTED OR SECURE.
