//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3 Change your password

d-spinner(ng-show='state.isPending()')

.panel.changepassword(ng-show='state.isLoaded()')
    form.form-horizontal.parsley(data-ng-submit='changePassword()' novalidate='')
        .form-group
            .row
                label.col-sm-2.control-label(for='old-password') Old password:
                .col-sm-4
                    input#old-password.form-control(type='password', required='required' ng-model='oldPassword', name='old-password')
            .row
                label.col-sm-2.control-label(for='new-password') New password:
                .col-sm-4
                    input#new-password.form-control(type='password', ng-model='newPassword', required='required', name='new`-password')
            .row
                label.col-sm-2.control-label(for='new-password-confirmation') New password confirmation:
                .col-sm-4
                    input#new-password-confirmation.form-control(type='password', ng-model='newPasswordConfirmation',
                        required='required', data-parsley-equalto='#new-password', name='new-password-confirmation',
                        data-parsley-equalto-message="Password confirmation doesn't match new password")
        .form-group
            .col-sm-offset-2.col-sm-10
                input.btn.btn-primary(type='submit', value='Change password')
