//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
.panel.instances(ng-show='ctrl.space() && ctrl.organization()')
    .header
        | Running instances in space {{ ctrl.organization().name }}/{{ ctrl.space().name }}

    spinner(ng-show='ctrl.instancesState.isPending() || ctrl.deleteState.isPending()')

    .panel.panel-danger(ng-show='ctrl.instancesState.isError()')
        .panel-body Error while downloading service instances list

    div(ng-show='ctrl.instancesState.isLoaded() && !ctrl.instances.length')
        .panel-body No instances running in that space

    table.table(ng-if='ctrl.instancesState.isLoaded() && ctrl.instances.length\
    && !ctrl.deleteState.isPending()')
        thead
            tr
                th Name
                th Plan
                th Apps bound
                th State
                th
                th Delete
        tbody
            tr(ng-repeat="instance in ctrl.instances | orderBy: 'name'")
                td {{ instance.name }}
                td {{ instance.service_plan.name }}
                td
                    a.app-bound(ng-repeat='app in instance.bound_apps', ui-sref='app.application({ appId: app.guid })') {{ app.name }}
                td(class="state-{{instance.last_operation.state}}")  {{instance.last_operation.state}}
                td
                    a(ng-if='instance.dashboard_url', ng-href='{{ instance.dashboard_url }}', target="_blank") Go to dashboard &raquo;
                td
                    a.delete(ng-click='ctrl.tryDeleteInstance(instance)')
| {{ instanceToDelete.name }}
script(type="text/ng-template", id="confirm-delete")
    .ngdialog-message.clearfix
        | {{ instanceToDelete.name }}
        p
            | Are you sure you want to delete
            = ' '
            b {{ data.instanceToDelete.name }}
            | ?
        .pull-right
            button.btn.btn-primary(type='button', ng-click='confirm()') Delete
            button.btn.btn-default(type='button', ng-click="cancel()") Cancel

.panel.instances(ng-show='!ctrl.space() || !ctrl.organization()')
    .header Running instances
    | Space has to be chosen in order to see running instances
