//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3
   d-target-selector.pull-right
   | {{ instanceType }}
.tools
   .panel.instances
      h3(ng-show="organization.guid") List of {{instanceType}} instances {{ organization.name }} organization
      d-spinner(ng-show="state.isPending()")
      div(ng-show="state.isLoaded()")
         table.table.list-group(ng-show="anyRows")
            thead
               th App Name
               th App Login
               th App Password
               th App Url
               th Delete
            tbody
               tr(ng-repeat="(name, instance) in instances" ng-init="showPass = false")
                  td {{ name }}
                  td
                     span
                        | {{instance.login}}
                     span(ng-if='!instance.login') -
                  td
                     input(type="text", class="form-control",
                     disabled=true, readonly=true, ng-model="instance.password" ng-show='showPass')
                     button(type="button", class="btn btn-sm", ng-class="!showPass ? 'btn-success' : 'btn-warning'"
                     ng-click="showPass = !showPass") {{ !showPass ? 'Show' : 'Hide' }}
                     span(ng-if='!instance.password') -
                  td
                     a(ng-if='instance.hostname' href='{{ instance.hostname | ensureHttps }}')
                        | {{ instance.hostname }}
                     span(ng-if='!instance.hostname') -
                  td
                     a.delete(ng-click='deleteInstance(instance.guid)')
         .no-instances(ng-hide="anyRows")
            | No instances found
         div
            form(ng-submit='createInstance(newInstanceName)')
               input.form-control(type='text', required='', placeholder='Instance name', ng-model='newInstanceName')
               button.btn.btn-primary(type='submit') Create new {{instanceType}} instance
         .no-instances(ng-show='!servicePlanGuid')
            | There is no required broker to build RStudio application on this platform
   script(type="text/ng-template", id="confirm-delete")
      .ngdialog-message.clearfix
         p
            | Are you sure you want to delete
            = ' '
            b {{ data.instanceToDelete }}
            | ?
         .pull-right
            button.btn.btn-primary(type='button', ng-click='confirm(true)') Delete
            button.btn.btn-default(type='button', ng-click="cancel()") Cancel
