//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3
   d-target-selector.pull-right
   | {{ brokerName }}
.tools
   .panel.instances
      h3(ng-show="organization.guid") List of {{ brokerName }} instances {{ organization.name }} organization
      d-spinner(ng-show="state.isPending()")
      div(ng-show="state.isLoaded()")
         .instances-table
             table.table.list-group(ng-show="anyRows")
                thead
                   th Instance Name
                   th(ng-if="hasLogin(instances)") App Login
                   th.passCol(ng-if="hasPassword(instances)") App Password
                   th
                      span(ng-if="!hasService(instances)") App Url
                      span(ng-if="hasService(instances)") Dashboard Url
                   th Delete
                tbody
                   tr(ng-repeat="(name, instance) in instances" ng-init="showPass = false")
                      td {{ instance.name || name }}
                      td(ng-if="instance.login")
                         span
                            | {{instance.login}}
                         span(ng-if='!instance.login') -
                      td(ng-if="instance.password")
                         input(type="text", class="form-control",
                            ng-disabled="!showPass", readonly=true, ng-value="showPass ? instance.password : '****************'")
                         button(type="button", class="btn btn-sm", ng-class="!showPass ? 'btn-success' : 'btn-warning'"
                            ng-click="showPass = !showPass") {{ !showPass ? 'Show' : 'Hide' }}
                         span(ng-if='!instance.password') -
                      td
                         a(ng-if='instance.hostname || instance.dashboard_url', href='{{ (instance.hostname || instance.dashboard_url) | ensureHttps }}', target="_blank")
                            | {{ instance.hostname || 'Go to dashboard' }}
                         span(ng-if='!instance.hostname && !instance.dashboard_url') -
                      td
                         a.delete(ng-click='deleteInstance(instance.guid)')
             .no-instances(ng-hide="anyRows")
                | No instances found

         div(ng-show='servicePlanGuid || servicePlans')
            form(name='newInstanceType', ng-submit='createInstance(newInstanceName)')
               input.form-control(name='instanceName', type='text', required='', placeholder='Instance name',
                  ng-model='newInstanceName', ng-trim="true" pattern-validator="^[a-zA-Z][a-zA-Z0-9-_\.]*")
               button.btn.btn-primary(type='submit', ng-disabled="!newInstanceType.instanceName.$valid")
                  | Create new {{ brokerName }} instance
               div(ng-messages="newInstanceType.instanceName.$error")
                  span(class="validationMessage", ng-message="regexValidator")
                     | Allowed characters: [letters, numbers, _, -, .]

    script(type="text/ng-template", id="confirm-delete")
      .ngdialog-message.clearfix
         p
            | Are you sure you want to delete 
            = ' '
            b {{ data.instanceToDelete }}
            | ?
         .pull-right
            button.btn.btn-primary(type='button', ng-click='confirm(true)') Delete
            button.btn.btn-default(type='button', ng-click="cancel()") Cancel
