//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
.uploaddataset
    h3
        d-target-selector.pull-right
        | Upload a data set

    d-spinner(ng-show='state.isPending()')

    div(ng-show='state.value != state.values.PENDING ')

        form.form-horizontal(data-ng-submit='submitDownload()')
            .form-group
                label.col-sm-2.control-label(for='input') Choose input type
                .col-sm-10
                    .radio
                        label
                            input(type='radio', name='uploadType', value='link', ng-model="input")
                            span.fa.fa-circle
                            | Link
                    .radio
                        label
                            input(type='radio', name='uploadType', value='local', ng-model="input")
                            span.fa.fa-circle
                            | Local path

            .form-group(ng-show="input === 'link'")
                label.col-sm-2.control-label(for='link') Link
                .col-sm-10
                    input#link.form-control(ng-required="input === 'link'" type='url', placeholder='place link...', data-ng-model='link')

            .form-group(ng-show="input === 'local'")
                label.col-sm-2.control-label(for='file') Local file
                .col-sm-10
                    input.btn.btn-primary(ng-required="input === 'local'" type='file', nv-file-select="", uploader="uploader", name='upfile')

            .form-group
                label.col-sm-2.control-label(for='title') Title
                .col-sm-10
                    input#title.form-control(type='text', required='', placeholder='title for link...', data-ng-model='title')

            .form-group
                label.col-sm-2.control-label(for='public') Should be public?
                .col-sm-10
                    .checkbox.c-checkbox
                        label
                            input#public(type="checkbox"
                            ng-model="public"
                            ng-click="updateUserRoles(user, avRole)",
                            placeholder='Check if the dataset should be accessible for other organizations')
                            span.fa.fa-check

            .form-group
                label.col-sm-2.control-label Choose category
                .categories.col-sm-5
                    a.btn-radio(ng-repeat='c in categories',
                            data-ng-click="setCategory(c)", ng-class="{active:category==c}", role='button')
                        div(class='fa fa-{{ getIcon(c) }}')
                        | {{ c }}

            .form-group
                .col-sm-offset-2.col-sm-10
                    input.btn.btn-primary(type='submit' value='Upload')
                    p

script(type="text/ng-template", id="progress-upload")
    .ngdialog-message.clearfix
        .progress
            .progress-bar(ng-style="{ 'width': data.uploader.progress + '%' }")
        p(ng-if="data.uploader.queue[0].isUploaded")
            | Upload finished successfully!
        button.btn.btn-default(ng-if="data.uploader.queue[0].isUploaded" type='button', ng-click="ok()") OK