//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-

h3 Documentation
spinner(ng-show='state.isPending()')
.documentation(ng-show='state.isLoaded()')
   .panel
      h3 Getting Started with TAP
      .links-container
         a(href="{{platformWikiLink}}" target="_blank") Wiki documentation for Trusted Analytics Platform >
         a(href="https://github.com/trustedanalytics/dataset-reader-sample" target="_blank") Sample Project >
      .divider

      h3 TAP Community
      p TAP is an open source project, which means we rely on an outside community to contribute and collaborate.
         | Join the community to help us make our platform a better solution.
      a(href="http://community.trustedanalytics.org/" target="_blank") Connect to TAP Community >

