//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
.adduser
    form.form-horizontal(name='add_user_form', data-ng-submit='addUser()', validate-form='', novalidate='')
        .form-group
            .clearfix
                label.col-sm-2.control-label(for='add-username') Email:
                .col-sm-4
                    input#add-username.form-control(name='user_email', ng-model='userToAdd.username',
                    required='', email-validator)
            .clearfix
                label.col-sm-2.control-label(for='add-role') Role: 
                .col-sm-4
                    select#add-role.form-control(name='role_select', ng-model='userToAdd.role', ng-options='role as name for (role, name) in availableRoles', ng-required='viewTypes.SPACES === viewType')
                        option(value='') {{(viewTypes.ORGANIZATIONS === viewType) ? 'None' : '-- Choose role --'}}

        .form-group
            .col-sm-offset-2.col-sm-10
                input.btn.btn-primary(type='submit', value='Add user',
                ng-disabled="!state.isLoaded() || !add_user_form.user_email.$valid")

