//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3
    | All service instances

.service-instances.content

    spinner(ng-show='state.isPending()')

    div(ng-if='!services.length')
        | You have no service instances

    div(ng-show='state.isLoaded()' ng-init="exportMode = false")

        a.btn.btn-primary.pull-right.turn-export-on(ng-hide='exportMode' ng-show='services.length' ng-click="exportMode = true") Export keys
        a.btn.btn-default.pull-right.turn-export-off(ng-show="exportMode" ng-click="exportMode = false") Cancel export
        .service-item(ng-repeat="service in services | orderBy: 'displayName || label'" ng-if="service.instances.length")
            .img
                img(ng-src='{{ service.imageUrl }}', alt='{{ service.name }}', ng-if='service.imageUrl')
                .placeholder(ng-if='!service.imageUrl')
                    span.icons.icon-settings
            .service-content
                .name {{service.displayName || service.label }}
                .instances
                    .instance(ng-repeat="instance in service.instances" ng-init="formVisible = false")

                        .name
                            span {{ instance.name }}
                            a.add-key(ng-show="!exportMode && !formVisible", ng-click="formVisible = true")
                                | + Create key

                        .key(ng-repeat="key in instance.service_keys")
                            | {{ key.name }}
                            a.delete-key.fa.fa-times(ng-click="deleteKey(key)" ng-hide="exportMode")
                            a.export-add(ng-show="!isExported(key) && exportMode",
                                ng-click="addExport(key)")
                                | + Add to exports
                            a.export-remove(ng-show="isExported(key) && exportMode"
                                ng-click="removeExport(key)")
                                | - Remove from exports

                        .new-key.form-group(ng-show="formVisible")
                            form(ng-submit="addKey(newServiceName, instance)")
                                input(ng-model="newServiceName" placeholder="Service key name")
                                input.btn.btn-primary(type="submit" value="Add")
                                a(ng-click="formVisible = false")
                                    | Cancel


        .vcap(ng-show="exports.length && exportMode")
            .title exported Keys:
            pre
                code
                    | {{ vcap | json }}
            a.btn.btn-primary(ng-href="{{ file }}", download="config.json")
                | Download JSON file
            a.btn.btn-default.turn-export-off(ng-show="exportMode" ng-click="exportMode = false") Cancel export


    script(type="text/ng-template", id="delete-key-confirm")
        .ngdialog-message.clearfix
            p Are you sure you wish to delete this service key?
            .pull-right
                button.btn.btn-primary(type='button', ng-click="confirm()") Confirm
                button.btn.btn-default(type='button', ng-click="cancel()") Cancel