//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3
    d-target-selector.pull-right
    | TAP Analytics Toolkit

.tools

    .panel.instances
        h3(ng-show="organization.guid") List of TAP Analytics Toolkit instances in {{ organization.name }} organization
        d-spinner(ng-show="state.isPending()")
        div(ng-show="state.isLoaded()")
            .instances-table
                table.table.list-group(ng-show='instances.length')
                    thead
                        th TAP Analytics Toolkit server name
                        th TAP Analytics Toolkit server state
                        th TAP Analytics Toolkit server URL
                        th Delete
                    tbody
                        tr(ng-repeat="instance in instances | orderBy : 'name'")
                            td {{ instance.name }}
                            td
                                d-state(state="instance.state")
                            td
                                a(ng-href="{{ instance.url | ensureProtocol }}", target="_blank") {{ instance.url }}
                            td
                                a.delete(ng-click='deleteInstance(instance.name, instance.guid, instance.service_guid)')
                .no-instances(ng-hide='instances.length') 
                    | No instances found
            div
                form(name="newInstance", ng-submit='createInstance(newInstanceName)')
                    input.form-control(name="instanceName" type='text', required='', placeholder='Instance name',
                    ng-model='newInstanceName', pattern-validator="^[a-zA-Z][a-zA-Z0-9-_\.]*")
                    button.btn.btn-primary(type='submit', ng-disabled='!newInstance.instanceName.$valid')
                        | Create new instance
                    div(ng-if="!newInstance.instanceName.$valid && newInstanceName.length")
                        span.validationMessage Allowed characters: [letters, numbers, _, -, .]
            d-spinner(text="'Creating new instance... Please wait'", ng-if='newInstanceState.isPending()')

        .panel.panel-warning.notice
            .panel-heading Note
            .panel-body
                | To follow progress of service creation, please look at &#32;
                a(ui-sref="app.latestevents")
                    | Log Event dashboard

    script(type="text/ng-template", id="confirm-delete")
        .ngdialog-message.clearfix
            p
                | Are you sure you want to delete
                = ' '
                b {{ data.instanceToDelete }}
                | ?
            .pull-right
                button.btn.btn-primary(type='button', ng-click='confirm(true)') Delete
                button.btn.btn-default(type='button', ng-click="cancel()") Cancel

    script(type="text/ng-template", id="confirm-creating-instance")
        .ngdialog-message.clearfix
            p
                | No ATK instances found. Do you want to create a new ATK instance?
            .pull-right
                button.btn.btn-primary(type='button', ng-click='confirm(data.instanceToCreate)') Yes
                button.btn.btn-primary(type='button', ng-click='cancel()') No
