//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3 Tools

.tools
    .panel
        h3 What the CLI is?
        | Cloud Foundry CLI is the official command line client for Cloud Foundry. For more
        | information visit the
        = ' '
        a(href='http://docs.cloudfoundry.org/devguide/#cf', target="_blank") cf documentation

    .panel
        h3 Download and install

        .download-button(ng-if='ctrl.currentPackage')
            a.btn.btn-primary(class='fa-{{ ctrl.currentPackage.os }}', href='{{ ctrl.currentPackage.url }}')
                | {{ ctrl.currentPackage.name }}
            a.toggle-list(ng-hide='ctrl.listShown', ng-click='ctrl.listShown = true')
                | Show list of all installers
            a.toggle-list(ng-show='ctrl.listShown', ng-click='ctrl.listShown = false')
                | Hide list of all installers

        .cli-list(ng-show='(ctrl.listShown || !ctrl.currentPackage)')
            div(ng-repeat="cli in ctrl.clis | orderBy : 'order'")
                a(ng-show="{{ cli.url != ctrl.currentPackage.url }}" ng-href='{{ cli.url }}', class='fa-{{ cli.os }}') {{ cli.name }}

    .panel
        h3 Getting started   
     
        ng-include(src='"/app/tools/cf.html"')
