//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
h3
    | Services

.marketplace.content

    spinner(ng-show='ctrl.state.isPending()')

    div(ng-show='ctrl.state.isLoaded()')
        .service-list
            .searchbar.clearfix
               search-bar.pull-left
            .available-services
               p {{ ctrl.filtered.length }} Available Services
            .service-card.col-lg-4.col-md-6(ng-repeat="service in ctrl.filtered.slice(begin, end)")
               .card
                  .card-top
                     h1
                        a(ui-sref='app.service({ serviceId: service.id })') {{ service.name }}
                     .description(data-ng-bind="service.description" data-ellipsis title="{{service.description}}")
                     a.details(ui-sref='app.service({ serviceId: service.id })') See Details
                        span.fa.fa-angle-double-right
                  .card-bottom
                     span.fa.fa-tags
                     span.title Tags:
                     .clearfix
                     .tags
                        span(ng-repeat='tag in service.tags') {{ tag }}{{ $last ? '' : ', ' }}

            .pagination-wrapper
               .pagination(ng-show="numPages > 1" uib-pagination total-items="ctrl.filtered.length" ng-model="currentPage"
                  items-per-page="itemsPerPage" previous-text="«" next-text="»")
    .panel.panel-danger(ng-show='ctrl.state.isError()')
        .panel-heading Error
        .panel-body Error occurred

    .panel.panel-warning(ng-show='!ctrl.space && (ctrl.state.isLoaded() || ctrl.state.isError())')
        .panel-heading No space specified
        .panel-body
            | In order to view market place, you have to choose target space. Use widget in the top right corner to do that.
            | <br>
            | If there are no available spaces for your account, please contact administrator.
